.conteiner{
    margin: 0%;
    padding: 0%;
}
header{
    width: 100%;
    height: 80px;
    background-color: greenyellow;
}
.vert{
    display: flex;
    width: 25%;
    height: 60px;
}
.nav, .ads{
    background-color: greenyellow;
    height: 600px;
}
.vert1{
    display: flex;
    width: 75%;
    height: 60px
}
.article{
    height: 50px;
    background-color: greenyellow;
}
.footer{
    height: 50px;
    background-color: greenyellow;
}